# {{repo}}

_Insert a single sentance description_

* `develop` [![Build Status](https://travis-ci.org/{{owner}}/{{repo}}.svg?branch=develop)](https://travis-ci.org/davesag/github-label-fixer)
* `master` [![Build Status](https://travis-ci.org/{{owner}}/{{repo}}.svg?branch=master)](https://travis-ci.org/davesag/github-label-fixer)

## What does it do?

_Insert details of what it does and how to run it.

## Requirements

It's built for Node 6.9 or better. `nvm install 6.9.4` to ensure you are running the latest supported version of node.

## Development

To run this in development mode

```sh
npm run dev
```

## Tests

To run the unit tests

```sh
npm test
```

## Conbtributing

I am a fan of using the `forked git-flow` process to manage contributions.

Please see the [contributing notes](CONTRIBUTING.md) for details.

## Development Status

This is currently non-functional and under active development.

### Version history

* `0.0.1` — current version.
